{% extends 'base.html' %}

{% block title %}{{ pelicula.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      
        <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }};">
      
    </div>
    <div class="col-md-6">
      <div class="info-box">
        <h2 style="color: white; font-weight: bold;">{{ pelicula.title }}</h2>
        <p style="color: white; font-weight: bold;">{{ pelicula.overview }}</p>
        <p style="color: white; font-weight: bold;">Valoración: {{ pelicula.vote_average }} / 10</p>

        {% if trailer %}
          <!-- Incrustar el tráiler de YouTube -->
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/{{ trailer.key }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        {% else %}
          <p style="color: white; font-weight: bold;">No hay tráiler disponible.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

