{% extends 'base.html' %}

{% block title %}{{ pelicula.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }};">
    </div>
    <div class="col-md-6">
      <h2>{{ pelicula.title }}</h2>
      <p>{{ pelicula.overview }}</p>
      <p>Valoración: {{ pelicula.vote_average }} / 10</p>

      {% if trailer %}
        <!-- Incrustar el tráiler de YouTube -->
        <iframe
          width="50%"
          height="315"
          src="https://www.youtube.com/embed/{{ trailer.key }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      {% else %}
        <p>No hay tráiler disponible.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

