{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block title %}Programación de Televisión{% endblock %}

{% block content %}
<div class="section-title-box">
    <h1 class="my-4">Programación de Televisión - Próximos 7 Días</h1>
</div>
    <div class="row">
        <!-- Iteración sobre los programas de televisión -->
{% for show in tv_shows %}
<div class="col-md-3 mb-3">
    <div class="movie-card">
        <a href="{{ url_for('detalles_programa', programa_id=show.id) }}">
            <img class="card-img-top" id="poster-{{ show.id }}" src="https://image.tmdb.org/t/p/w500{{ show.poster_path }}"
                 alt="{{ show.name }}"
                 onmouseover="enlargePoster('poster-{{ show.id }}')"
                 onmouseout="resetPoster('poster-{{ show.id }}')">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ show.name }}</h5>
            <p class="card-text">{{ show.overview[:50] }}...</p>
            <p class="card-text"><small class="text-muted">Fecha de emisión: {{ show.first_air_date }}</small></p>
        </div>
    </div>
</div>
{% endfor %}
    </div>
</div>
{% endblock %}
