/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #555;
    color: white;
}

/* Estilos para el contenido principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para las tarjetas de películas y series */
.movie-card, .series-card {
  border: 1px solid #ddd;  /* Borde para el recuadro */
  border-radius: 8px;  /* Borde redondeado */
  padding: 10px;  /* Espacio interno */
  margin-bottom: 15px;  /* Espacio entre tarjetas */
  text-align: center;  /* Alineación del contenido */
  background-color: #f9f9f9;  /* Fondo para el recuadro */
}

/* Tamaño de la fuente para el título de las tarjetas */
.movie-card h3, .series-card h3 {
  font-size: 1.2em;  /* Tamaño del texto del título */
}

/* Estilo para las imágenes dentro de las tarjetas */
.movie-card img, .series-card img {
  width: 100%;  /* Asegura que las imágenes ocupen todo el ancho */
  border-radius: 5px;  /* Bordes redondeados para las imágenes */
}

/* Estilo para la descripción dentro de las tarjetas */
.movie-card p, .series-card p {
  font-size: 0.9em;  /* Tamaño de fuente más pequeño para la descripción */
  color: #666;  /* Color del texto para la descripción */
}
/* Estilos para la parte inferior del sitio (footer) */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
