<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mi Página de Películas{% endblock %}</title>
  <!-- Enlace al archivo CSS personalizado -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- Bloque para estilos adicionales -->
  {% block styles %}
  {% endblock %}
</head>
<body>
   <!-- Barra de navegación personalizada -->
  <nav class="navbar">
    <!-- Sección izquierda -->
    <div class="navbar-links">
      <a class="navbar-brand" href="{{ url_for('index') }}">Inicio</a>
      <form class="search-form" action="{{ url_for('buscar') }}" method="GET">
        <input class="search-input" type="search" name="query" placeholder="Buscar películas, series..." aria-label="Buscar">
        <button class="search-button" type="submit">Buscar</button>
      </form>
      <a class="nav-link" href="{{ url_for('peliculas') }}">Películas</a>
      <a class="nav-link" href="{{ url_for('mostrar_series') }}">Series</a>
      <a class="nav-link" href="{{ url_for('programas') }}">Programas TV</a>
    </nav>
    </div>

    

  <!-- Contenedor para el contenido principal -->
  <div class="container">  <!-- No es necesario añadir margen superior -->
    {% block content %}
    <!-- Aquí se inyectará el contenido de cada página -->
    {% endblock %}
  </div>

  <!-- Pie de página -->
  <footer class="footer">  <!-- No es necesario añadir estilos -->
    © 2024 Mi Página de Películas
  </footer>

  <!-- Incluir tu archivo JavaScript -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <!-- Bloque para scripts adicionales -->
  {% block scripts %}
  {% endblock %}
</body>
</html>