{% extends 'base.html' %}

{% block title %}{{ persona.name }}{% endblock %}

{% block content %}
<div class="custom-container">
  <div class="custom-row">
    <div class="custom-col-6">
      <img src="https://image.tmdb.org/t/p/w500{{ persona.profile_path }}" alt="{{ persona.name }}" class="img-fluid">
    </div>
    <div class="custom-col-6">
      <div class="info-box">
        <h2 class="custom-text">{{ persona.name }}</h2>
        <p class="custom-text">Fecha de nacimiento: {{ persona.birthday }}</p>
        <p class="custom-text">Lugar de nacimiento: {{ persona.place_of_birth }}</p>

        <!-- Lista de 5 películas, series o programas -->
        <h3 class="custom-text">Créditos principales</h3>
        <ul class="custom-list">
          {% for credit in top_credits %}
            <li class="custom-list-item">
              {% if credit.media_type == 'movie' %}
                <a href="{{ url_for('pelicula', movie_id=credit.id) }}" class="custom-text-link white-text bold-text large-text">
                  {{ credit.title }}
                </a>
              {% elif credit.media_type == 'tv' %}
                <a href="{{ url_for('serie', serie_id=credit.id) }}" class="custom-text-link white-text bold-text large-text">
                  {{ credit.name }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
