{% extends 'base.html' %}

{% block title %}{{ programa.title }}{% endblock %}

{% block content %}
<div class="custom-container">
  <div class="custom-row">
    <div class="custom-col-6">
      <img src="https://image.tmdb.org/t/p/w500{{ programa.poster_path }}" alt="{{ programa.title }}">
    </div>
    <div class="custom-col-6">
      <div class="info-box">
        <h2 class="custom-text">{{ programa.title }}</h2>
        <p class="custom-text">{{ programa.overview }}</p>
        <p class="custom-text">Valoración: {{ programa.vote_average }} / 10</p>

        {% if trailer %}
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/{{ trailer.key }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        {% else %}
          <p class="custom-text">No hay tráiler disponible.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="custom-row">
    <div class="custom-col-12">
      <h3 class="custom-text">{{ "Presentadores" if programa.type == 'show' else "Protagonistas" }}</h3>
      <table class="custom-table">
        <tbody>
          {% if credits %}
            {% for credit in credits %}
              <tr>
                <td class="custom-text-left">{{ credit.name }}</td>
                <td class="custom-text-right"><a href="{{ url_for('detalles_persona', persona_id=credit.id) }}" class="custom-text-link">Ver detalles</a></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="2">
                <p class="custom-text2">No se encontraron datos de elenco.</p>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


