{% extends 'base.html' %}

{% block title %}{{ serie.name }}{% endblock %}

{% block content %}
<div class="custom-container"> <!-- Cambiado -->
  <div class="custom-row"> <!-- Cambiado -->
    <div class="custom-col-6"> <!-- Cambiado -->
      <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }} ">
    </div>
    <div class="custom-col-6"> <!-- Cambiado -->
      <div class="info-box">
        <h2 class="custom-text">{{ serie.name }}</h2> <!-- Cambiado -->
        <p class="custom-text">{{ serie.overview }}</p> <!-- Cambiado -->
        <p class="custom-text">Valoración: {{ serie.vote_average }} / 10</p>

        {% if trailer %}
          <!-- Incrustar el tráiler de YouTube -->
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/{{ trailer.key }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        {% else %}
          <p class="custom-text">No hay tráiler disponible.</p> <!-- Cambiado -->
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}