{% extends 'base.html' %}

{% block title %}Películas{% endblock %}

{% block content %}
<div class="custom-container"> <!-- Cambiado -->
    <div class="custom-row"> <!-- Cambiado -->
        <!-- Sección para mostrar las películas -->
        <div class="custom-col-12"> <!-- Cambiado -->
            <div class="section-title-box">
                <h2 class="section-title">Películas en Tendencia</h2>
            </div>
            <div class="custom-row"> <!-- Cambiado -->
                {% for movie in trending_movies %}
                    <div class="custom-col-4"> <!-- Cambiado -->
                        <a href="{{ url_for('pelicula', movie_id=movie.id) }}">
                            <div class="movie-card">
                                <h3>{{ movie.title }}</h3>
                                <img id="poster-{{ movie.id }}"
                                    src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}"
                                    onmouseover="enlargePoster('poster-{{ movie.id }}')"
                                    onmouseout="resetPoster('poster-{{ movie.id }}')">
                                <p>{{ movie.overview[:100] }}...</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="section-title-box">
                <h2 class="section-title">Próximos Estrenos</h2>
            </div>
            <div class="custom-row"> <!-- Cambiado -->
                {% for movie in upcoming_movies %}
                    <div class="custom-col-4"> <!-- Cambiado -->
                        <a href="{{ url_for('pelicula', movie_id=movie.id) }}">
                            <div class="movie-card">
                                <h3>{{ movie.title }}</h3>
                                <img id="poster-{{ movie.id }}"
                                    src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}"
                                    onmouseover="enlargePoster('poster-{{ movie.id }}')"
                                    onmouseout="resetPoster('poster-{{ movie.id }}')">
                                <p>{{ movie.overview[:100] }}...</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}